astroid==2.11.4
autopep8==1.6.0
certifi==2021.10.8
charset-normalizer==2.0.12
cycler==0.11.0
dill==0.3.4
et-xmlfile==1.1.0
fonttools==4.33.3
idna==3.3
isort==5.10.1
kiwisolver==1.4.2
lazy-object-proxy==1.7.1
matplotlib==3.5.2
mccabe==0.7.0
numpy==1.22.3
openpyxl==3.0.9
packaging==21.3
pandas==1.4.2
Pillow==9.1.0
platformdirs==2.5.2
pycodestyle==2.8.0
pylint==2.13.8
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2022.1
requests==2.27.1
rmsgd @ file:///fs2/comm/kpgrp/mhosseini/github/RMSGD
scipy==1.8.0
six==1.16.0
toml==0.10.2
tomli==2.0.1
torch==1.8.1
torchaudio==0.11.0
torchvision==0.9.1
typing_extensions==4.2.0
urllib3==1.26.9
wrapt==1.14.1
